/* body {
    margin: 0px;
    padding: 0px;
    line-height: 0;
} */
.container{

    max-width: auto;
    margin: 0 auto;
    /* background: black; */
    background: #f9f9f9;
    font-size: 24px;
    padding: 0px;
    /* margin-bottom: 100px; */

}

#name{
    padding: 0px;
    font-family: 'Abril Fatface', cursive;

    /* animation: 
    pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate; */
}
.parallax{
    background: url('./img/trent-erwin-338084-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax-skills {
    background: url('./img/trent-erwin-338084-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
}
.about-parallax {
    background: url('./img/ricardo-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100px;
}

.profolio-parallax{
    background: url('./img/41-urban-black-hair-art.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

header{
    width: 100%;
    height: 70px;
    /* background-color: brown; */
    background-color: #28004d;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    /* font-size: 50px; */

}
h1 {
    text-align: center;
    height: 200px;
  line-height: 200px;
  font-family: 'Gochi Hand', cursive;
  font-size: 80px;
  padding-top: 60px;
  color: #28004d;
  /* margin-top: 0px; */
  font-family: 'Abril Fatface', cursive;


}

h2{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    /* font-family: 'Gochi Hand', cursive; */
    font-family: 'Cantata One', serif;
    color: bisque;
}

h3 {
    text-align: center;
    /* font-family: 'Gochi Hand', cursive; */
    /* font-family: 'Cantata One', serif; */
    font-family: 'Kodchasan', sans-serif;
    font-size: 30px;
}


h4 {
    padding-top: 10px;
    text-align: center;
    /* font-family: 'Cantata One', serif; */
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    /* color: #862d59; */

}

h5{
    text-align: center;
    /* font-family: 'Gochi Hand', cursive; */
    /* font-family: 'Gochi Hand', cursive; */
    font-family: 'Kodchasan', sans-serif;
    font-size: 30px;
}

#btn {
    display: none;
    border: 5px solid #28004d;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 200px;
    /* font-family: inherit; */
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 0.5em;
    outline: medium none;
    padding: 0.5em 0.6em;
    text-align: center;
    /* text-decoration: none; */
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
    /* transition: all 0.2s ease 0s; */
    vertical-align: middle;
    color:black;
    margin: 0 auto;
 font-size: 30px;
 border-radius: 50%;
}


span{
    color: #ffffff;
}
ul {
    width: auto;
    float: right;
    margin-top: 8px;

}

li {
    display: inline-block;
    padding: 15px 30px;


}

a{
    text-align: center;
    color: grey;
    text-decoration: none;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.2vw;
    
}

a:hover{
    color:#d9d9d9;
    transition: -16px;
    font-size: 1.8vw;
    /* animation: 
    pulse 3s ease infinite alternate,
    nudge 5s linear infinite alternate; */
}

#top-home {
    /* margin-top: 0px; */
    height: 75vh;
    /* background-image: url("./img/brandi-redd-122054-unsplash.jpg") */

}

.icon{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}
img {
    height: 300px;
    width: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60em;
}

#Portfolio {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.div1{
display: flex;
flex-direction: column;
/* justify-content: space-around; */
}

.div2{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

}


#btn {
    /* display: none; */
}

#Contact {
    height: 90vh;

}

#GAprofile{
    height: 200px;
    width: 200px;
}

.logo-text{
    /* font-size: ; */
    /* animation: shake 0.5s; 
      animation-iteration-count: infinite;; */
      color: black;

}

.logo-text:hover{
    color: black;
    font-size: 1.5vw;
}
.colortop {
    min-height: 10px;
    background-color: #28004d
    ;
}

#Skills {
    color: black;
    /* color:#f9f9f9; */
    /* height: 500px; */
    margin-top: -50px;
    /* margin-bottom: -50px; */
    

}
#arrowdown{
    height: 50px;
    width: 50px;
    float: right;
}

.displayhide{
    opacity: 0;
}

.displayhide:hover {

opacity: 1;    
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  
  @keyframes pulse {
    0%, 100% {
      /* background-color: red; */
    }
    50% {
      /* background-color: orange; */
    }
  }
  
  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 0);
    }
    
    80% {
      transform: translate(-150px, 0);
    }
  }



 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }