.parallax-1{
    background: url('./img/trent-erwin-338084-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100px;
}

#github{

    color: black;
}
hr {
    width: 75vw;
    margin-top: 50px ;
    margin-bottom: 50px;
}